.emptyCart {
  width: 50%;
  background-color: #d3efee;
  padding: 1.5rem;
  border: 2px solid #3aafa9;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1170px;
}

.emptyCart > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem 0;
}

.emptyCart a {
  text-decoration: none;
}

.emptyCart h3 {
  font-weight: 600;
  color: #17252a;
}

@media screen and (max-width: 640px) {
  .emptyCart {
    width: 90%;
  }
}

.cartItemList,
.cartSummary {
  background-color: #d3efee;
  border-radius: 5px;
  border: 1px solid #3aafa9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #17252a;
}

.cartItemList {
  flex: 1;
}

.cartSummary {
  width: 30%;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.7rem;
}

.cartItem:not(:last-child) {
  border-bottom: 1px solid #3aafa9;
}

.itemImg img[alt="Winter body"] {
  object-position: 85%;
}

.itemImg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.cartCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 3rem;
  width: 100%;
  padding: 0 2rem;
  max-width: 1170px;
  margin: 2rem 0;
}

@media screen and (min-width: 1300px) {
  .cartCenter {
    padding: 0;
  }
}
